# Default ignored files
.idea
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
hangmanJS.iml
*.iml
.DS_Store
distribution/.DS_Store
