* {
  box-sizing: border-box; }

body {
  color: #f4f40b;
  background: #3f426e;
  margin: 0;
  font-family: sans-serif;
  padding: 100px 200px 0 200px;
  overflow: hidden; }

.triangle {
  position: sticky;
  width: 0;
  height: 0;
  top: 100%;
  left: 100%;
  padding-bottom: 25%;
  padding-left: 25%;
  overflow: hidden;
  border-bottom-right-radius: 6px; }

.triangle:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin-left: -500px;
  border-top: 500px solid transparent;
  border-right: 500px solid #5481eb; }

#container {
  border-radius: 6px;
  background: #ffffff;
  height: 70vh;
  padding: 0.1px; }

.figure-part {
  display: none; }

#game-container {
  margin-top: 30px;
  float: left;
  width: 50%; }

#wrong-letter-container {
  color: #567;
  font-weight: 600;
  margin-top: 30px;
  padding-right: 20px;
  font-size: 25px;
  float: right;
  width: 50%;
  text-align: left;
  text-transform: uppercase; }

span.font-mobile {
  font-size: 45px; }

img#bar {
  position: absolute;
  width: 160px; }

img#hangman-Head {
  position: absolute;
  width: 110px;
  height: 120px;
  top: 156px;
  left: 289px;
  z-index: 1; }

img#hangman-Neck {
  position: absolute;
  width: 30px;
  height: 20px;
  left: 329px;
  top: 270px; }

img#hangman-Corpus {
  position: absolute;
  width: 80px;
  left: 306px;
  top: 285px; }

img#hangman-Left-Arm {
  position: absolute;
  width: 100px;
  left: 240px;
  top: 285px;
  z-index: 1; }

img#hangman-Right-Arm {
  position: absolute;
  width: 100px;
  left: 354px;
  top: 285px;
  z-index: 1; }

img#hangman-Left-Leg {
  transform: rotate(-5deg);
  width: 70px;
  position: absolute;
  left: 284px;
  top: 396px;
  z-index: 1; }

img#hangman-Right-Leg {
  transform: rotate(5deg);
  width: 70px;
  position: absolute;
  left: 338px;
  top: 396px;
  z-index: 1; }

img#hangman-Left-Foot {
  width: 70px;
  position: absolute;
  left: 255px;
  top: 530px;
  transform: rotate(-2deg); }

img#hangman-Right-Foot {
  width: 70px;
  position: absolute;
  left: 370px;
  top: 530px;
  transform: rotate(2deg); }

img#hangman-Left-Hand {
  width: 24px;
  position: absolute;
  left: 237px;
  top: 361px; }

img#hangman-Right-Hand {
  width: 24px;
  position: absolute;
  left: 433px;
  top: 361px; }

.word {
  position: -webkit-sticky;
  position: sticky;
  top: 73vh;
  text-align: center;
  z-index: 5; }

.letter {
  border: 2px solid dimgray;
  border-radius: 7px;
  background-color: dimgrey;
  color: white;
  font-size: 30px;
  font-weight: 900;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  padding: 5px 15px 5px 15px;
  opacity: 0.9;
  z-index: 5;
  text-transform: uppercase; }

.popup-container {
  color: #ffffff;
  background-color: rgba(67, 70, 116, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 10; }

.popup h2 {
  font-weight: 700;
  font-size: 50px;
  padding: 10px; }

.popup button {
  font-size: 20px;
  background: rgba(67, 70, 116, 0);
  color: #fac355;
  font-weight: 600;
  border-radius: 50px;
  padding: 10px 40px 10px 40px;
  border: 2px dashed #fac355; }

.popup button:active {
  transform: scale(0.95); }

.popup button:focus {
  outline: 0; }

.notification-container {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 10px 10px;
  padding: 10px 10px 5px 10px;
  position: absolute;
  bottom: -48px;
  left: 50%;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-50%); }

.notification-container p {
  margin: 0;
  color: white; }

.notification-container.show {
  transform: translateX(-50%) translateY(-50px); }

@media screen and (max-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    margin: 0;
    overflow: hidden;
    padding: 0; }
  span.font-mobile {
    margin-left: 10px;
    font-size: 25px; }
  .letter {
    font-size: 10px;
    position: relative; }
  #container {
    width: 100%;
    height: 100vh;
    background-color: #ffffff; }
  #wrong-letter-container {
    position: absolute;
    bottom: 0;
    padding-bottom: 50px;
    color: #567;
    font-weight: 600;
    font-size: 15px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    text-align: right;
    text-transform: uppercase; }
  .figure-part {
    display: flex; }
  img#hangman-Head {
    position: absolute;
    width: 110px;
    height: 120px;
    top: 55px;
    left: 90px;
    z-index: 1; }
  img#hangman-Neck {
    position: absolute;
    width: 30px;
    height: 20px;
    left: 132px;
    top: 170px; }
  img#hangman-Corpus {
    position: absolute;
    width: 80px;
    left: 108px;
    top: 184px; }
  img#hangman-Left-Arm {
    position: absolute;
    width: 100px;
    left: 40px;
    top: 184px;
    z-index: 1; }
  img#hangman-Right-Arm {
    position: absolute;
    width: 100px;
    left: 157px;
    top: 184px;
    z-index: 1; }
  img#hangman-Left-Leg {
    transform: rotate(-5deg);
    width: 70px;
    position: absolute;
    left: 85px;
    top: 300px;
    z-index: 1; }
  img#hangman-Right-Leg {
    transform: rotate(5deg);
    width: 70px;
    position: absolute;
    left: 140px;
    top: 300px;
    z-index: 1; }
  img#hangman-Left-Foot {
    width: 70px;
    position: absolute;
    left: 60px;
    top: 440px;
    transform: rotate(-2deg); }
  img#hangman-Right-Foot {
    width: 70px;
    position: absolute;
    left: 165px;
    top: 440px;
    transform: rotate(2deg); }
  img#hangman-Left-Hand {
    width: 24px;
    position: absolute;
    left: 35px;
    top: 263px; }
  img#hangman-Right-Hand {
    width: 24px;
    position: absolute;
    left: 238px;
    top: 263px; }
  .notification-container {
    font-size: 12px; } }
