@import "config";

* {
  box-sizing: border-box;
}

body {
  color: $secondary-color;
  background: #3f426e;
  margin: 0;
  font-family: sans-serif;
  padding: 100px 200px 0 200px;
  overflow: hidden;
}

.triangle {
  position: sticky;
  width: 0;
  height: 0;
  top: 100%;
  left: 100%;
  padding-bottom: 25%;
  padding-left: 25%;
  overflow: hidden;
  border-bottom-right-radius: 6px;
}

.triangle:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin-left: -500px;
  border-top: 500px solid transparent;
  border-right: 500px solid $triangle-color;
}

#container {
  border-radius: 6px;
  background: #ffffff;
  height: 70vh;
  padding: 0.1px;
}

.figure-part {
  display: none;
}

#game-container {
  margin-top: 30px;
  float: left;
  width: 50%;
}

#wrong-letter-container {
  color: $primary-color;
  font-weight: 600;
  margin-top: 30px;
  padding-right: 20px;
  font-size: 25px;
  float: right;
  width: 50%;
  text-align: left;
  text-transform: uppercase;
}

span.font-mobile {
  font-size: 45px;
}

#bar {
  position: absolute;
  width: 160px;
}

#hangman-Head {
  position: absolute;
  width: 110px;
  height: 120px;
  top: 156px;
  left: 289px;
  z-index: 1;
}

#hangman-Neck {
  position: absolute;
  width: 30px;
  height: 20px;
  left: 329px;
  top: 270px;
}

#hangman-Corpus {
  position: absolute;
  width: 80px;
  left: 306px;
  top: 285px;
}

#hangman-Left-Arm {
  position: absolute;
  width: 100px;
  left: 240px;
  top: 285px;
  z-index: 1;
}

#hangman-Right-Arm {
  position: absolute;
  width: 100px;
  left: 354px;
  top: 285px;
  z-index: 1;
}

#hangman-Left-Leg {
  transform: rotate(-5deg);
  width: 70px;
  position: absolute;
  left: 284px;
  top: 396px;
  z-index: 1;
}

#hangman-Right-Leg {
  transform: rotate(5deg);
  width: 70px;
  position: absolute;
  left: 338px;
  top: 396px;
  z-index: 1;
}

#hangman-Left-Foot {
  width: 70px;
  position: absolute;
  left: 255px;
  top: 530px;
  transform: rotate(-2deg);
}

#hangman-Right-Foot {
  width: 70px;
  position: absolute;
  left: 370px;
  top: 530px;
  transform: rotate(2deg);
}

#hangman-Left-Hand {
  width: 24px;
  position: absolute;
  left: 237px;
  top: 361px;
}

#hangman-Right-Hand {
  width: 24px;
  position: absolute;
  left: 433px;
  top: 361px;
}

.word {
  position: -webkit-sticky;
  position: sticky;
  top: 73vh;
  text-align: center;
  z-index: 5;
}

.letter {
  border: 2px solid dimgray;
  border-radius: 7px;
  background-color: dimgrey;
  color: white;
  font-size: 30px;
  font-weight: 900;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  padding: 5px 15px 5px 15px;
  opacity: 0.9;
  z-index: 5;
  text-transform: uppercase;
}

.popup-container {
  color: #ffffff;
  background-color: rgba(lighten(#3f426e, 2), 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 10;
}

.popup h2 {
  font-weight: 700;
  font-size: 50px;
  padding: 10px;
}

.popup button {
  font-size: 20px;
  background: rgba(lighten(#3f426e, 2), 0);
  color: #fac355;
  font-weight: 600;
  border-radius: 50px;
  padding: 10px 40px 10px 40px;
  border: 2px dashed #fac355;
}

.popup button:active {
  transform: scale(0.95);
}

.popup button:focus {
  outline: 0;
}

.notification-container {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 10px 10px;
  padding: 10px 10px 5px 10px;
  position: absolute;
  bottom: -48px;
  left: 50%;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-50%);
}

.notification-container p {
  margin: 0;
  color: white;
}

.notification-container.show {
  transform: translateX(-50%) translateY(-50px);
}

@import "mobile";